
@model  ExaminationSystemProject.ViewModel.RoleViewModel;

@{
    ViewData["Title"] = "addAdmin";
}

<h1>addAdmin</h1>

<h4>RoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="RoleName">
                    <option  value="Instructor">Instructor</option>
                    <option value="Student">Student</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /><br />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to List</a><br />
    <a class="btn btn-success" href="/Account/UsersWithRoles/1">View All Admins</a>
     <a class="btn btn-success" href="/Account/UsersWithRoles/2">View All Instructor</a>
      <a class="btn btn-success" href="/Account/UsersWithRoles/3">View All Students</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
