@model List<ExaminationSystemProject.ViewModel.studentDegreeVM>
<table class="table table-content table-hover">

    <tr>
        <th>
            StudentName
        </th>
        <th>
            Degree
        </th>
        <th>
            CourseName
        </th>
        <th>
            state
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr class="@item.state">
            <td>
            @item.ST_name
            </td>
            <td>
            @item.Degree
            </td>
            <td>
            @item.CourseName
            </td>
            @if(@item.state=="text-success"){
                <td>
            Success
                    </td>
                }
                else
                {
                    <td>
            failed
            </td>
                }
            </tr>
        }
    }
</table>

<a asp-controller="Exam" asp-action="showInstructorExams">Back To Exams</a>