@model List<Questionpool>
<table class="table table-border table-hover">
    <tr>
        <th>question text</th>
        <th>type</th>
        <th>ID</th>
        <th>Degree</th>
        <th>Edit</th>
        <th>delete</th>
    </tr>
    @{
        foreach(Questionpool q in @Model)
        {
            <tr>
            <td>@q.Questiontxt</td>
            <td>@q.Type</td>
            <td>@q.ID</td>
            <td>@q.Degree</td>
            <td><a  href="/question/edit?qid=@q.ID">edit</a></td>
            <td><a href="/question/Delete/@q.ID">Delete</a></td>
            <td><a href="/question/Details/@q.ID">Details</a></td>
            </tr>
        }
    }
</table>
