@{
    ViewData["Title"] = "Home Page";
}  
 <div class="container-fluid">
<img src="~/assets/img/home-bg.jpg" style="width:100%; height:400px;" />   
</div>

<div class="text-center">
     <h1>Online Examination System </h1>
     <span class="subheading">Test Your Students</span>
     <h1 class="display-4" style="color:SlateBlue;">Welcome</h1>
    <p>Online Examination System To Test,Evaluate Students of Multiple Courses</p>
</div>
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                     <hr class="my-4" />
                    <div class="post-preview">
                        <a>
                            <p>Hello instructor You Can Now Control Exams of Your Courses Autumaticly</p>
                            <a class="btn btn-warning">Sign up | Sign in now</a>
                        </a>
                       
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a>
                         <p class="post-title">welcome to your new student zone. This services are tailored to meet your expectations as part of our continuous development of student services MSA Values your feedback and Comments at anytime. If you have any questions please contact us.</p></a>
                                                      <a class="btn btn-warning">Sign up | Sign in now</a>

                     </div>
                   
        </div>
    @if(User.IsInRole("Admin"))
    {
       
<div class="row">
  <div class="col">
      <div class="card" style="width:300px">
      <img class="card-img-top" src="~/images/Courses.png" alt="Card image">
      <div class="card-body">
      <h4 class="card-title">Instructors</h4>
      <p class="card-text">Take Control on all Instructor Processes</p>
      <a href="Instrctor/GetInstructors" class="btn btn-primary">Go</a>
  </div>
</div>


  </div>
  <div class="col">
      <div class="card" style="width:300px">
  <img class="card-img-top" src="~/images/Courses.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Courses</h4>
    <p class="card-text">All Courses in the System</p>
    <p class="card-text">ADD,Update,Delete Courses</p>
    <p class="card-text">Take Control</p>
    <a href="Course/Index" class="btn btn-info">Go</a>
  </div>
</div>

  </div>
  <div class="col">
      <div class="card" style="width:300px">
  <img class="card-img-top" src="~/images/Courses.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Roles</h4>
    <p class="card-text">Add Role to user</p>
    <a href="/Account/addAdmin" class="btn btn-primary">go</a>
  </div>
</div>

  </div>
</div>
    }
</div>
