<br><br><br>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            <a class="btn btn-outline-success" asp-controller="question" asp-action="addquestion">Create New Question</a>
        </th>
        <th>
            <a class="btn btn-outline-danger" asp-controller="Exam" asp-action="createexam">Create New Exam</a>
        </th>
        <th>
            <a class="btn btn-outline-secondary" asp-controller="Exam" asp-action="showInstructorExams">show Instructor Exams</a>
        </th>
        <th>
            <a class="btn btn-dark asp-controller="Instrctor" asp-action="showCourses">show Instructor Cources</a>
        </th>
    </tr>
</table>