<div class="card" style="width:400px">
  <div class="card-body">
    <h4 class="card-title">Your Personal info</h4>
    <p class="card-text">View and Update your Information</p>
    <a href="/Instrctor/Details" class="btn btn-primary">Go</a>
  </div>
</div>
<br />
<div class="card" style="width:400px">
      <img class="card-img-top" src="/images/Exam.jpg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Create New Exam</h4>
    <p class="card-text">Test Your Students in Your Current Course</p>
    <a href="/Exam/createexam" class="btn btn-primary">Create</a>
  </div>
</div>
<br />
<div class="card" style="width:400px">
      <img class="card-img-top" src="/images/Courses.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Show All Exams</h4>
    <p class="card-text">Show all Exams in Your Current Course</p>
    <a href="/Instrctor/ShowInstructorCourseAndExams" class="btn btn-info">Show</a>
  </div>
</div>
